@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/reset' as *;

.videoList__heading{
    @include font-mobile-subheader;
    color: $silver;
}
.video{
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0rem;
    @include tablet{
        margin: 2rem 0rem;
    }
}
.video__img{
    width: 9.375rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    @include desktop{
        width: 30%;
    }
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.details__title{
    @include font-mobile-subheader;
    @include tablet{
        @include font-tabdesk-subheader;
    }
}

.details__author{
    @include font-mobile-body;
}