@import './typography';

// MOBILE
@mixin font-mobile-body{
    font-size: 16px;
    line-height: 22px;
}

@mixin font-mobile-subheader{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

@mixin font-mobile-section-header{
    font-style: 'Avenir-bold';
    font-size: 16px;
    line-height: 24px;
}

@mixin font-mobile-page-header{
    font-style: 'Avenir-bold';
    font-weight: 700;
    font-size: 2.5rem; 
    line-height: 3rem;  
}

@mixin font-mobile-btn{
    font-style: 'Avenir-bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

// DESKTOP

@mixin font-tabdesk-body{
    font-size: 18px;
    line-height: 26px;
}

@mixin font-tabdesk-subheader{
    font-style: 'Avenir-bold';
    font-size: 18px;
    line-height: 26px;
}

@mixin font-tabsdesk-section-header{
    font-style: 'Avenir-bold';
    font-size: 16px;
    line-height: 24px;
}

@mixin font-tabdesk-page-header{
    font-style: 'Avenir-bold';
    font-size: 36px; // Increase font size to 36px for example
    line-height: 48px; // Increase line height proportionately
}

@mixin font-tabdesk-btn{
    font-style: 'Avenir-bold';
    font-size: 16px;
    line-height: 24px;
}

//BREAKPOINTS

@mixin tablet{
    @media (min-width: 768px){
        @content
    }
};

@mixin desktop{
    @media (min-width: 1280px){
        @content;
    }
}
