@font-face{
    font-family: 'Avenir-normal';
    src: url('../../assets/fonts/alternative/AvenirNextLTPro.ttf') format('truetype');
}

@font-face{
    font-family: 'Avenir-demi';
    src: url('../../assets/fonts/alternative/AvenirNextLTProDemi.ttf') format('truetype');
}

@font-face{
    font-family: 'Avenir-bold';
    src: url('../../assets/fonts/alternative/AvenirNextLTProBold.ttf') format('truetype');
}